<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex *ngIf="item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{item.prod_name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{item.image}} alt={{item.prod_name}} width="100" height="300">
      <mat-card-content>
        <p>{{item.price}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  

</div>