<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex *ngIf="category">
    <mat-grid-list cols="3" rowHeight="150px">
      <mat-grid-tile *ngFor="let item of items">
        <img height="100px" src={{item.image}}>
        <mat-grid-tile-footer>
          {{item.prod_name | uppercase}}
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  

</div>