<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

  
  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Add to Inventory</h3>

    <form novalidate [formGroup]="updateForm" #uform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <mat-select matInput placeholder="Category" formControlName="categories" required>
            <mat-option *ngFor="let ctype of categoryType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="updateForm.get('categories').hasError('required') && updateForm.get('categories').touched">Category is required</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="name" placeholder="Item Name" type="text" required>
          <mat-error *ngIf="updateForm.get('name').hasError('required') && updateForm.get('name').touched">Product name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input type="number" id="qty" name="qty" step="1" min="0" matInput formControlName="qty" placeholder="Quantity" required>
          <mat-error *ngIf="updateForm.get('qty').hasError('required') && updateForm.get('qty').touched">Quantity is required</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="price" placeholder="Price" type="number" min="0" required>
          <mat-error *ngIf="updateForm.get('price').hasError('required') && updateForm.get('price').touched">Price is required</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="seller" placeholder="Seller" type="text" required>
          <mat-error *ngIf="updateForm.get('seller').hasError('required') && updateForm.get('seller').touched">Seller name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="expr_date" placeholder="Expiration Date" type="date" id="expr_date" name="expr_date" required>
          <mat-error *ngIf="updateForm.get('expr_date').hasError('required') && updateForm.get('expr_date').touched">Expiration date is required</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="image" placeholder="Image URL" type="text">
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="updateForm.invalid">Submit</button>
    </form>
    <div *ngIf="item">
      <br>
      <span class="FinishMsg">The Item has been Added !!!</span> 
    </div>
  </div>

  
  
  

</div>
