<div class="container"
     fxLayout="column"
     fxLayoutGap="10px"> 

  <div fxFlex>
    <div>
      <h3>Inventory Items</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="3" rowHeight="150px">
      <mat-grid-tile *ngFor="let category of categories" (click) = "onSelect(category)">
        <img height="100px" src={{category.image}}>
        <mat-grid-tile-footer>
          {{category.cat_name | uppercase}}
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <div fxFlex *ngIf="displaylist">
    <mat-grid-list cols="3" rowHeight="150px">
      <mat-grid-tile *ngFor="let item of displaylist">
        <img height="100px" src={{item.image}}>
        <mat-grid-tile-footer>
          Name : {{item.prod_name | uppercase}}<br>
          Quantity : {{item.qty}} <br>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  
</div>