<div class="container"
     fxLayout="column"
     fxLayoutGap="10px"> 

  <div fxFlex>
    <div>
      <h3>Inventory Category</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="3" rowHeight="150px">
      <mat-grid-tile *ngFor="let category of categories" [routerLink]="['/category-list', category.name]">
        <img height="100px" src="{{category.image}}">
        <mat-grid-tile-footer>
          {{category.name | uppercase}}
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

 <!--<app-itemdetail [item] = "selectedItem"></app-itemdetail>-->

  
</div>